@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');


:root {
  --appPrimaryBg: #1c2a3a;
  --appSecondaryBg: #2d4158;
  --appPrimaryText: #dddbdb;
  font-family: 'Nunito Sans', sans-serif;

}

body{
  -webkit-animation: fadein 1.5s;
  background-color: #1c2a3a;
}

.common-input{
  @apply focus:outline-none bg-[#1a2e44] w-[40%] py-2 px-3
}
.print-preview-input .common-input, .print-preview-input .percentage-input{
  background-color: white !important;
}
.percentage-input{
  @apply bg-gray-600 w-[20%] focus:outline-none py-2 text-center
}
.common-td {
  @apply text-sm font-light px-2 py-1
}
.input-group-wrapper {
  @apply flex border border-gray-500 rounded-sm w-full
}
.right-align-td{
  @apply text-sm font-bold px-2 py-2 text-right
}
.left-align-td{
  @apply text-sm font-bold px-2 py-2 text-left
}

.app-primary-bg {
  background-color: var(--appPrimaryBg);
}
.app-secondary-bg {
  background-color: var(--appSecondaryBg);
}

.app-primary-text{
  color: var(--appPrimaryText);
}

.bg-gold {
  background-color: #d2a003;
  /* background-color: #03d7d7; */
}

body {
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.app-scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(51, 51, 51, 0.3);
  border-radius: 10px;
  background-color: #2d4158;
}

.app-scroll-bar::-webkit-scrollbar {
  padding-top: 10px;
  height: 8px;
  background-color: #2d4158;
}

.app-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(51, 51, 51, 0.3);
  background-color: #d2a003;
}

.print-preview-width{
  width: 1240px;
  margin: 0 auto;
}
.print-preview-input input, .print-preview-input .input-group-wrapper {
  border: none !important;
  /* text-align: center !important; */
}
.print-preview-input .print-preview-gross-salary {
  text-align: center !important;
}
#printArea{
  opacity: 0;
}
@media print {
  button {
    display: none !important;
  }
  input,
  textarea {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
  .input-group-wrapper{
    border: none !important;
  }
  .noPrint{
    visibility: hidden;
  }

  .print-preview-width{
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @page {
      size: A4;
      margin: 0;
  }

  body {
      margin: 0 !important;
      padding: 0 !important;
      box-sizing: border-box;
  }
  body, html{
    width: 100%;
    height: 90%;
  }
  .actual-payable-amount-bg {
    background-color: #f0f0f1;
    -webkit-print-color-adjust: exact;
}
#printArea{
  width: 100%;
  height: 100%;
  font-size: 13px !important;
  opacity: 1 !important;
  visibility: visible !important;
}
div:last-child{
  page-break-after: auto !important;
}

}